SERVICE_NAME=service-b
ENVIRONMENT=production
DATABASE_URL=postgresql+psycopg://db_user:db_password@your-rds-endpoint.region.rds.amazonaws.com:5432/service_b_db?sslmode=require
DATABASE_POOL_SIZE=5
DATABASE_MAX_OVERFLOW=10
DATABASE_POOL_TIMEOUT=30
